<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 p-4 m-5 border-success rounded shadow-lg" style="background-color: lightgreen;">
        <form>
          <h1>Login</h1>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" name="username" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
<!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form>
          <h1>Login</h1>
          <div class="form-floating mb-3">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
    </div>
    <div class="form-floating mb-3">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </div>
      <button type="submit" (click)="login()">Login</button>
    </form>
  </div>
  </div>
  </div> -->

  