<div class="container">
    <div class="row my-4">
        <h3>Brands of coffee</h3>
    </div>
    <div class="product-list">
        <div class="card product text-wrap border" *ngFor="let brands of cofeeBrand | paginate: { itemsPerPage: 12, currentPage}" >
            <img class="card-img-top" src="{{brands.image}}" style="max-height: 180px;" alt="Product 1">
            <div class="card-body">
                <h3 class="card-title">{{ brands.title }}</h3>
                <p class="card-text text-wrap">origin: {{ brands.description | slice:0:10 }}</p>
                <p>Id : {{brands.id}}</p>
                <button class="btn btn-dark text-center" (click)="addToCart(brands)">Add To Cart</button>
            </div>
        </div>
    </div>
    <div class="row text-center">
    <pagination-controls (pageChange)="currentPage = $event" class="align-center"></pagination-controls>
</div>
</div>